:root {
     --coffee-dark : #3E2723;
     --coffee-medium : #6F4E37;
     --coffee-light : #c4a484;
     --coffee-accent : #d2b48c;
     --coffee-cream : #d2848c;
     --coffee-gold : #d4af37;
     --text-dark : #2c2416;
     --text-light : #f3f3f3;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', sans-serif;
    background: linear-gradient(135deg,#0b0705 0%), #010000 50%;
    color: var(--text-dark);
    line-height: 1.7;
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background: #161515;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
    transition: all 0.4s ease;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
      display: flex;
      justify-content: center;
      gap: 12px;
      text-decoration: none;
}

.logo-icon {
    color: var(--coffee-gold);
    font-size: 28px;
}

.logo-text {
    font-family: 'playfair display', serif;
    font-size: 28px;
    font-weight: 900;
    color: var(--coffee-medium);
    letter-spacing: 1px;
}

.logo-text span {
    color: var(--coffee-gold);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

nav a {
    text-decoration: none;
    color: var(--coffee-medium);
    font-weight: 600;
    font-size: 16px;
    position: relative;
    padding: 5px 0;
    transition: all 0.4s ease;
}

nav s:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--coffee-gold);
}

nav a:hover:after{
     width: 100%;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

.btn-primary {
    background: var(--coffee-medium);
    color: white;
}

.btn-primary:hover {
    background: var(--coffee-dark);
    transform: translateY(-3px);
}

.btn-secondary {
    background: transparent;
    color: var(--coffee-medium);
    border: 2px solid var(--coffee-medium);
}

.btn-secondary:hover {
    background: rgba(111,78,55,0.5);
    transform: translateY(-3px);
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-top: 80px;
}

.hero ::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,#0b0705 0%), #010000 50%;
    z-index: -1;
}

.hero-content {
    width: 750px;
    color: var(--text-light);
    animation: fadeInUp 1s ease-out;
}

.hero .container {
    display: flex;
}

.hero-subtitle {
    font-size: 20px;
    color: var(--coffee-accent);
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-subtitle::before {
    content: '';
    width: 50px;
    height: 2px;
    background: var(--coffee-gold);
}

.hero-title {
    font-size: 58px;
    line-height: 1.1;
    margin-bottom: 25px;
    letter-spacing: 0.5px;
    color: var(--text-light);
}

.hero-title span {
    color: var(--coffee-gold);
    position: relative;
}

.hero-text {
       font-size: 16px;
       margin-bottom: 120px;
       max-width: 700px;
}

.hero-button {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.product {
    padding: 120px 0;
    position: relative;
    background-color: #161515;
    border-top: 4px solid var(--coffee-gold);
}

.section-header {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 70px;
}

.section-title {
    font-size: 20px;
    color: var(--coffee-gold);
    margin-bottom: 15px;
}

.section-title {
    font-size: 42px;
    color: var(--coffee-gold);
    position: relative;
    display: inline-block;
}

.section-title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background: var(--coffee-gold);
}

.section-desc {
    font-size: 18px;
    color: var(--text-light);
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 40px;
}

.product-card:hover {
    background: var(--coffee-dark);
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.4s ease;
    position: relative;
    top: 0;
}

.product-card:hover{
    transform: translateY(-15px);
    border: 2px solid var(--coffee-gold);
}

.product-image {
    height: 280px;
    overflow: hidden;
}

.product-image image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:transform 0.5s ease;
}
.product-card:hover .product-image image {
    transform: scale(1.05);
}

.product-info {
    padding: 25px;
    position: relative;
}

.product-tag {
    position: absolute;
    top: -20px;
    right: 35px;
    background: var(--coffee-gold);
    color: white;
    padding: 8px 18px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
}

.product-title {
    color: var(--text-light);
    font-size: 24px;
    margin-bottom: 10px;
}

.product-desc {
    color: var(--text-light);
    margin-bottom: 20px;
    font-size: 16px;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price {
    font-size: 24px;
    font-weight: 700;
    color: var(--coffee-gold);
}
.rating {
    color: var(--coffee-gold);
    font-size: 16px;
}

h1,h2,h3,h4 {
    font-family: 'playfair display',serif;
    font-weight: 700px;
    letter-spacing: 0.5px;
}